<div class="max-w-3xl mx-auto p-6">

  <h1 class="text-3xl font-bold mb-6">
    @if (isEdit()) {
      Editar Producto
    } @else {
      Crear Producto
    }
  </h1>

  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-5">
    <div>
      <label class="block font-medium mb-1">Nombre del Producto</label>
      <input type="text"
        formControlName="title"
        class="w-full border p-2 rounded focus:ring focus:ring-blue-300">

      @if (form.get('title')?.invalid && form.get('title')?.touched) {
        <p class="text-red-600 text-sm">El titulo debe contener minimo 3 caracteres y máximo 50.</p>
      }
    </div>

    <div>
      <label class="block font-medium mb-1">Descripción</label>
      <textarea
        formControlName="description"
        class="w-full border p-2 rounded focus:ring focus:ring-blue-300 h-24"></textarea>

      @if (form.get('description')?.invalid && form.get('description')?.touched) {
        <p class="text-red-600 text-sm">La descripción debe tener al menos 10 caracteres.</p>
      }
    </div>

    <div>
      <label class="block font-medium mb-1">Precio</label>
      <input type="number"
        formControlName="price"
        class="w-full border p-2 rounded focus:ring focus:ring-blue-300">

      @if (form.get('price')?.invalid && form.get('price')?.touched) {
        <p class="text-red-600 text-sm">El precio debe ser mayor a 0.</p>
      }
    </div>

    <div>
      <label class="block font-medium mb-1">Stock</label>
      <input type="number"
        formControlName="stock"
        class="w-full border p-2 rounded focus:ring focus:ring-blue-300">

      @if (form.get('stock')?.invalid && form.get('stock')?.touched) {
        <p class="text-red-600 text-sm">El stock no puede ser negativo.</p>
      }
    </div>

    <div>
      <label class="block font-medium mb-1">Categoría</label>
      <input type="text"
        formControlName="category"
        class="w-full border p-2 rounded focus:ring focus:ring-blue-300">

      @if (form.get('category')?.invalid && form.get('category')?.touched) {
        <p class="text-red-600 text-sm">La categoría es obligatoria.</p>
      }
    </div>

    <div>
      <label class="block font-medium mb-1">URL Imagen</label>
      <input type="text"
        formControlName="thumbnail"
        class="w-full border p-2 rounded focus:ring focus:ring-blue-300">

      @if (form.get('thumbnail')?.invalid && form.get('thumbnail')?.touched) {
        <p class="text-red-600 text-sm">Debes ingresar una URL válida.</p>
      }
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition disabled:opacity-50"
      [disabled]="form.invalid">
      @if (isEdit()) {
        Guardar Cambios
      } @else {
        Crear Producto
      }
    </button>
  </form>
</div>
